.DS_Store
bin/
dist/
artifacts/
.venv-*/
.github/tools/node_modules/
/.hugo_build.lock
/public/
/resources/_gen/
/website/static/vendor/
kubeconfig.yaml
hack/harvester/env.local
hack/harvester/*.local.yaml
deploy/harvester/**/values.local.yaml
