path "${transit_mount_path}/keys/${transit_key_name}" {
  capabilities = ["read"]
}

path "${transit_mount_path}/encrypt/${transit_key_name}" {
  capabilities = ["update"]
}

path "${transit_mount_path}/decrypt/${transit_key_name}" {
  capabilities = ["update"]
}

path "${transit_mount_path}/config/keys" {
  capabilities = ["read"]
}
